@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../Variables.scss";

.terrain {
    display: flex;
    flex-wrap: wrap;
    background-color: $terrain;        
    border: 1px solid #ccc;
    border-top: none;
    border-bottom: none;
    @include media-breakpoint-up(xl) { 
        width: 100vh;
    }

    @include media-breakpoint-down(lg) { 
        width: calc(100vw - 226px);
    }  
    
    @include media-breakpoint-down(sm) { 
        width: 100vw;
    }  
    

    &.lines {        
        border-right: none;        
    }
}

.grid {
    display: flex;
    min-width: 10%;
    color: #fff;
    font-size: 1.4rem;
    justify-content: center;
    align-items: center;

    &.cloud,
    &.volcano,
    &.airport {
        &::after {
            width: 100%;
            height: 100%;
        }
    }

    &.cloud {
        &::after {
            background-color: $cloud;
        }
    }

    &.volcano {
        &::after {
            background-color: #a00;
        }
    }

    &.airport {
        &::after {
            background-color: $airport;
        }
    }

    &:before {
        content: "";
        height: 0;
        float: left;
        padding-bottom: 100%;
    }

    &::after {
        content: "";
        display: block;
        clear: both;
    }
}

.ui {
    .grid {
        background-image: url(/assets/images/grass.webp);
        background-size: contain;

        &.cloud,
        &.volcano,
        &.airport {
            &::after {
                background-size: contain;
                background-position: 50%;
                background-repeat: no-repeat;
                background-color: transparent;
            }
        }

        &.cloud {
            &::after {
                background-image: url(/assets/images/cloud.webp);
            }
        }

        &.volcano {
            &::after {
                background-image: url(/assets/images/volcano.webp);
            }
        }

        &.airport {
            &::after {
                background-image: url(/assets/images/airport.webp);
            }
        }
    }
}

.lines {
    .grid {
        border: 1px solid #ccc;
        border-top: none;
        border-left: none;
    }
}
