@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../Variables.scss";
.sidebar {
    background-color: #2f4050;
    color: $text-color;
    width: 225px;
    overflow: hidden;   

    @include media-breakpoint-down(sm) { 
        width: 100%;        
    }
    

    .nav-header {
        background-image: url(/assets/images/header-profile.webp);
        background-repeat: no-repeat;
        height: 156px;
        //width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding: 10px;    
        background-size: cover;

        small {
            color: $text-muted;
            font-weight: 500;
        }

        span {
            color: $red;
            font-size: 1.1rem;
        }
    }

    .ui {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 7px 10px;
        font-size: 0.9rem;
        font-weight: 400;
        border-bottom: 1px solid $border-dark;
    }
}

.square{

    width: 24px;
    height: 24px;

    &.terrain{
        background-color: $terrain;
    }

    &.airport{
        background-color: $airport;
    }

    &.cloud{
        background-color: $cloud;
    }
    
}