/* Literal colors */
$white: #FFFFFF;
$black: #222222;
$red: #AA3333;
$lime: #23c6c8;

/* Behavior colors */
$text-color: #DFE4ED;
$text-muted: #8095a8 !important;
$bg-color: #CCCCCC;
$bg-color-light: #f3f3f4;
$border: #e7eaec;
$border-dark: #263a4a;
$tint: #f6f6f6;