h1, h2, h3, h4, h5{
    font-family: 'kinetikaultra';
    background: rgb(0,112,254);
    background: -moz-linear-gradient(180deg, rgba(0,112,254,0.9752275910364145) 0%, rgba(160,214,249,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0,112,254,0.9752275910364145) 0%, rgba(160,214,249,1) 100%);
    background: linear-gradient(180deg, rgba(0,112,254,0.9752275910364145) 0%, rgba(160,214,249,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0070fe",endColorstr="#a0d6f9",GradientType=1);    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #0070fe;
}

.terrain{
    display: flex;    
    flex-wrap: wrap;    
    margin: 10px;
    background-color: #fafafa;
    border: 1px solid #ccc;
    border-bottom: none;
}

.grid{    
    display: flex;    
    min-width: 10%;
    border: 1px solid #ccc;
    border-top: none;
    border-left: none;
}

.grid:nth-child(10n){
    border-right: none;
}

.grid:before{
    content: "";
    height: 0;
    float: left;
    padding-bottom: 100%;
}

.grid::after {
    content: "";
    display: block;
    clear: both;
}