h1, h2, h3, h4, h5{
    font-family: 'kinetikalight';   
    color: #666;
    font-weight: 600;
}

.terrain{
    display: flex;    
    flex-wrap: wrap;        
    background-color: #fafafa;    
    margin: auto;
    margin-bottom: 1rem;
    width: 100%;    
}

.terrain.lines{
    border: 1px solid #ccc;
    border-right: none;
    border-bottom: none;
}

.grid{    
    display: flex;    
    min-width: 10%;   
}

.ui .grid{    
    background-image: url(../images/grass.webp);
    background-size: contain;
}

.lines .grid{
    border: 1px solid #ccc;     
    border-top: none;
    border-left: none;
}

.grid:before{
    content: "";
    height: 0;
    float: left;
    padding-bottom: 100%;
}

.grid::after {
    content: "";
    display: block;
    clear: both;
}

.grid.cloud::after{
    background-color: #666;
}


.grid.airport::after{
    background-color: #069;
}

.grid.cloud::after,
.grid.grid.airport::after{    
    width: 100%;
    height: 100%;    
}

.ui .grid.cloud::after{
    background-image: url(../images/cloud.webp);
    background-size: contain; 
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: transparent;    
}

.ui .grid.airport::after{
    background-image: url(../images/airport.webp);
    background-size: contain; 
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: transparent;    
}